.pag2{
    font-size: 1.5rem;
    background-color: rgb(13, 156, 49);
}                                                       
.h1pag2{                             
    font-size: 3rem;
    color: black;
    background-color: rgb(32, 197, 17);
}

.pag3{
    font-size: 1.5rem;
    background-color: rgba(142, 142, 255, 0.459);
}
.h1pag3{
    font-size: 3rem;
    background: rgba(94, 147, 168, 0.582);
}
