
.pag4{
    font-size: 1.5rem;
    background-color: rgb(126, 8, 0);

} 
.h1pag4{
    font-size: 3rem;
    color: aliceblue;
    background-color: rgb(51, 24, 24);
}
.pag5{
    font-size: 1.5rem;
    background-color: rgb(52, 83, 52);
}
.h1pag5{
    font-size: 3rem;
    color: aliceblue;
    background-color: rgb(67, 155, 79);
}